
* {
    box-sizing: border-box;
    
}
.header, .footer {
    padding: 15px;
    background-color: #77613e;
    color: white;
    
}

.decode{
    
    margin-left: 108px;
    margin-top: 15px;
}
 
.hide {
    float: right;
    margin: 15px 0px;
    
}

.inside_header{
    float: right;
        
    }
    
    .nav_bar a{
    padding: 8px;
    margin-bottom: 8px;
    //color: #0099cc;
    border-bottom: 2px solid rgba(51, 99, 229, 0.9);
    color: #0099cc;
        font-size: 18px;
    }
    
    .header::after {
    content: "";
    clear: both;
    display: table;
    }


.clrfix{
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    
}
.clrfix::after {
    content: "";
    clear: both;
    display: block;
}


.virtual-code {
    font-size: 20px;
    width: 80%;
    margin: auto;
    text-align: left;
    //border: 5px solid yellow;
    
}
.client-info {
    padding: 10px;
    font-size: 20px;
    text-align: center;
    //border: 5px solid red;
}
.client-info::after {
    content: "";
    clear: both;
    display: table;
}

.Hide-button{ 
    width: 80%;
    margin: auto;
    
    

}

.Hide-button::after {
    content: "";
    clear: both;
    display: block;
}


.centre{
    
    margin: auto;
    width: 80%;
    border: 5px solid grey;
    padding: 15px;
}

.form-raw{
    
    margin: 15px 0px;
}

.form-raw::after{
     content: "";
    clear: both;
    display: table;
}

.form-input, .form-txt{
    
    float: left;
}

.form-txt{

    width: 18%;
    text-align: left;
}

.form-input{

    width: 32%;
}

.form-input input[type=text]{
    height: 30px;
    font-size: 20px;
}


@media (max-width:800px) {
  .column {
    width:100%;/*Extending width to 100%, if the viewport is smaller or equal to 800px */